<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>行政区划配置</title>
	<link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../../common/css/main.css">
	<link rel="stylesheet" href="./../../../common/css/element-reset.css">
	<style>
		.resizepanel {
			overflow-x: hidden;
			overflow-y: auto;
		}

		.orgtitle {
			height: 40px;
			color: #fff;
			background: #409EFF;
			line-height: 40px;
			text-align: center;
		}

		.orgtool {
			height: 40px;
			text-align: right;
			padding: 0 10px;
			overflow: hidden;
		}

		.filterwrap {
			padding: 10px 10px 0px 10px;
		}

		.content {
			height: 100%;
			padding: 0 10px;
		}

		.content .el-tabs__content {
			width: 100%;
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			overflow: auto;
		}

		.foo {
			box-sizing: border-box;
			padding: 0px 10px 10px 10px;
		}

		#pane-orgAreaRef {
			height: 100%
		}

		#pane-orgAreaRef>div:first-child {
			height: 100%
		}

		.resizepanel {
			display: flex;
			flex-direction: column;
			overflow: hidden !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak v-loading="loading.allLoading">

		<jas-two-panel-resizer layout="vertical" length="47%">
			<template slot="closePanel">
				<div class="filterwrap">
					<el-input prefix-icon="el-icon-search" size="small" placeholder="输入关键字进行过滤" v-model="filterText" clearable>
					</el-input>
				</div>
				<div style="overflow: auto;flex:1">
					<el-tree class="is-grown" ref="orgtree" :data="orgnData" node-key="id" default-expand-all
						:props="defaultProps" :default-expanded-keys="[currentNodeId]" highlight-current @node-click="clicknode"
						:expand-on-click-node="false" :filter-node-method="filterNode">
						<span class="custom-tree-node" slot-scope="scope">
							<span :style="{color: scope.data.color}">{{ scope.data.text }}</span>
						</span>
					</el-tree>
				</div>
			</template>
			<div class="content" slot="mainPanel">
				<el-tabs v-model="activeName" class="jas-flex-box" style="height:100%;overflow: hidden">
					<el-tab-pane label="行政区划配置" name="orgAreaRef">
						<div v-loading="loading.orgAreaRefManage">
							<div style="height:100%;">
								<div slot="list" class="jas-flex-box is-vertical is-grown">
									<div style="padding: 5px 0 15px 0;">
										<el-button @click="createRef" size="small" plain type="primary" icon="fa fa-plus"
											:disabled="!currentNodeId">新增</el-button>
										<span class="fr">
											<el-tooltip class="item" content="刷新" placement="top">
												<el-button size="small" icon="el-icon-refresh" @click="_requestRefManage"></el-button>
											</el-tooltip>
										</span>
									</div>
									<div class="is-grown">
										<el-table ref="mytable" @row-dblclick="getDetail" height="100%" :data="tableData" border
											:header-cell-style="headStyle" style="width: 100%" stripe>
											<el-table-column label="行政区划" prop="areaName" min-width="70px" show-overflow-tooltip
												align="center">
											</el-table-column>
											<el-table-column label="操作" align="center" width="135" fixed="right">
												<template slot-scope="scope">
													<el-button @click="getDetail(scope.row)" type="text" size="small">详情</el-button>
													<el-button @click="editRef(scope.row)" type="text" size="small">修改</el-button>
													<el-button @click="deleteRef(scope.row)" type="text" size="small">删除</el-button>
												</template>
											</el-table-column>
										</el-table>
									</div>
								</div>
							</div>
						</div>
					</el-tab-pane>
				</el-tabs>
			</div>
		</jas-two-panel-resizer>
	</div>
</body>

<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/vue-multipane/vue-multipane.js"></script>

<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: function () {
			return {
				headStyle: {
					'background-color': '#f5f7fa ',
				},
				loading: {
					orgAreaRefManage: true
				},
				panelMoving: false,
				panelShowed: true,
				activeName: 'orgAreaRef',
				filterText: '',
				currentNode: '',
				currentNodeId: '',
				orgnData: [],
				defaultProps: {
					label: 'text',
					orgnData: 'orgnData'
				},
				isClosed: false,
				form: {},
				btnSize: {
					sm: 0,
					md: 0,
					lg: 0,
					xl: 0,
				},
				isEditMode: false,
				tableData: [],
				isMultiProject: true,
				isMulti: null,
				govOrgId: "b0a05414-6709-41b6-83d9-e308b5610dea"
			}
		},
		computed: {},
		watch: {
			filterText: function (val) {
				this.$refs.orgtree.filter(val);
			},
		},
		mounted: function () {
			var isMulti = sessionStorage.getItem("multiProject");
			if (isMulti == 1) {
				this.isMultiProject = false;
			} else {
				this.isMultiProject = false;
			}

			this._requestTable();
			this.setFieldsPattern();
		},
		created: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			if (param.isEditMode) {
				this.isEditMode = true;
			} else {
				this.isEditMode = false;
			}
			var isMultiProject = sessionStorage.getItem("multiProject");
			if (isMultiProject == "1") {
				that.isMulti = true;
			}

		},
		methods: {
			filterNode: function (value, data) {
				if (!value) return true;
				return data.text.indexOf(value) !== -1;
			},
			_requestTable: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/jasframework/privilege/unit/getLeftTree.do?isroot=true";
				jasTools.ajax.get(url, {}, function (data) {
					that.createNewLeftTree(data);
				});
			},
			clicknode: function (node, b, c) {
				this.currentNode = node;
				this.currentNodeId = node.id;
				this._requestRefManage(0);
			},

			setFieldsPattern: function () {
				var nFields = 3;
				this.btnSize.sm = 24 - (24 * nFields) % 24;
				this.btnSize.md = 24 - (12 * nFields) % 24;
				this.btnSize.lg = 24 - (6 * nFields) % 24;
				this.btnSize.xl = 24 - (6 * nFields) % 24;
			},

			_requestRefManage: function (param) {
				var that = this;
				var unitId = this.currentNodeId;
				var url = jasTools.base.rootPath + "/jdbc/commonData/organizationAreaRef/getList.do";
				var paramData = {
					organizationId: unitId
				};
				that.loading = true;
				jasTools.ajax.post(url, paramData, function (data) {
					that.tableData = data.rows;
				});

			},
			createNewLeftTree: function (treeData) {
				var that = this;
				var url = jasTools.base.rootPath + "/jdbc/commonData/organizationAreaRef/getList.do";
				jasTools.ajax.post(url, {
					organizationType: "2"
				}, function (data) {
					treeData = that.formatTreeArr(treeData);
					if (data && data.rows.length > 0) {
						treeData = that.formatOrgArr(treeData, data)
					}
					that.orgnData = treeData;
					that.$nextTick(function () {
						if (!that.currentNodeId) {
							that.currentNodeId = that.govOrgId;
						}
						that.$refs.orgtree.setCurrentKey(that.currentNodeId);
						that._requestRefManage(0);
					})
				});
			},
			formatTreeArr: function (treeData) {
				var that = this;
				var newTreeData = [];
				var formatter = function (arr) {
					arr.forEach(function (item) {
						if (item.id == that.govOrgId) { // 政府机构Id
							newTreeData.push(item);

						} else {
							if (item.children) {
								formatter(item.children);
							}
						}
					})
				};
				formatter(treeData);
				return newTreeData;
			},
			formatOrgArr: function (treeData, refData) {
				var that = this;
				var formatter = function (arr) {
					arr.forEach(function (item) {
						if (that._chargeFor(item.id, refData.rows)) {
							item.color = "#009933";
						}
						if (item.children) {
							formatter(item.children);
						}
					})
				};
				formatter(treeData);
				return treeData;
			},
			_chargeFor: function (treeId, refData) {
				var b = false;
				for (var i = 0; i < refData.length; i++) {
					if (treeId === refData[i].organizationId) {
						b = true;
						break;
					}
				}
				return b;
			},
			createRef: function () {
				var that = this;
				var baseSrc = jasTools.base.rootPath +
					'/jasmvvm/pages/module-privilege/org-area-ref-manage/dialogs/add-ref.html';
				top.jasTools.dialog.show({
					width: '800px',
					height: '500px',
					title: '新建行政区划配置',
					src: baseSrc + '?pid=' + this.currentNodeId,
					cbForClose: function () {
						that._requestRefManage(0);
						that._requestTable();
					}
				});
			},
			editRef: function (row) {
				var that = this;
				var baseSrc = jasTools.base.rootPath +
					'/jasmvvm/pages/module-privilege/org-area-ref-manage/dialogs/add-ref.html';
				top.jasTools.dialog.show({
					width: '800px',
					height: '500px',
					title: '修改行政区划配置',
					src: baseSrc + '?oid=' + row.oid,
					cbForClose: function () {
						that._requestRefManage(0);
						that._requestTable();
					}
				});
			},
			deleteRef: function (row) {
				var that = this;
				var afterDelete = function () {
					top.Vue.prototype.$message({
						type: 'success',
						message: '删除成功'
					});
					that._requestRefManage(0);
					that._requestTable();
				};
				window.top.Vue.prototype.$confirm('您确定要删除吗？', '删除行政区划配置信息', {
					type: 'warning',
					callback: function (action) {
						if (action === 'confirm') {
							var url = jasTools.base.rootPath + "/jdbc/commonData/organizationAreaRef/delete.do";
							jasTools.ajax.post(url, {
								oid: row.oid
							}, function (data) {
								afterDelete();
							});
						}
					}
				});
			},
			getDetail: function (row) {
				var baseSrc = jasTools.base.rootPath +
					'/jasmvvm/pages/module-privilege/org-area-ref-manage/dialogs/detail-ref.html';
				var src = jasTools.base.setParamsToUrl(baseSrc, {
					oid: row.oid
				});
				top.jasTools.dialog.show({
					width: '800px',
					height: '500px',
					title: '行政区划配置详情',
					src: src,
				});
			}
		},
	});
</script>

</html>