<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <!-- <link rel="stylesheet" href="./libelement-ui/element-#0E2B4A/src/index.css"> -->
    <link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
    <link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./../../../lib/vue-treeselect/vue-treeselect.min.css">

    <link rel="stylesheet" href="./../../../common/css/main.css">
    <link rel="stylesheet" href="./../../../common/css/element-reset.css">
    <style>
        .searchWrapper {
            overflow: unset !important;
        }

        .vue-treeselect__control {
            height: 34px;
        }

        .el-table .cell {
            white-space: pre-line;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <!-- <jas-list-wrapper ref="mylist"> -->
        <div slot="list" class="jas-flex-box is-vertical is-grown" style="padding-top: 10px !important;">
            <div style="padding: 10px 0;">
                企业名称： {{enterpriseName}}
            </div>
            <div class="is-grown">
                <el-table :data="tableData" border :header-cell-style="headStyle" style="width: 100%" height="100%"
                    :span-method="arraySpanMethod" v-loading="loading">
                    <el-table-column label="序号" prop="indexNo" align="center" width="50" fixed>
                    </el-table-column>
                    <el-table-column label="绩效指标" prop="indicatorName" min-width="50px" show-overflow-tooltip
                        align="center">
                    </el-table-column>
                    <el-table-column label="指标权重" prop="weight" min-width="30px" show-overflow-tooltip align="center">
                        <template slot-scope="scope">
                            <span>{{scope.row.weight*100+"%"}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="二级绩效指标" prop="secondIndicatorName" min-width="90px" show-overflow-tooltip
                        align="center">
                    </el-table-column>
                    <el-table-column label="二级权重" prop="secondWeight" min-width="30px" show-overflow-tooltip
                        align="center">
                        <template slot-scope="scope">
                            <span>{{scope.row.secondWeight*100+"%"}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="扣分说明" prop="description" min-width="160px" align="left">
                    </el-table-column>
                    <el-table-column label="得分" prop="rate" min-width="40px" align="center">
                    </el-table-column>
                    <el-table-column label="扣分管道" prop=notPipelineName min-width="160px" align="left">
                        <template slot-scope="scope">
                            <!-- <span>{{scope.row.notPipelineName.replace(/,/g,"； ")}}</span> -->
                            <span v-if="scope.row.notPipelineName=='无' || !scope.row.notPipelineName">无</span>
                            <span v-else
                                v-for="item,index in scope.row.notPipelineName.split(',')">{{index+1}}:{{item}};&#8194;</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>

        <!-- </jas-list-wrapper> -->

    </div>
</body>

<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/vue-multipane/vue-multipane.js"></script>

<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../common/components/jas-components.js"></script>

<script src="./../../../common/js/jas-tools.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: function () {
            return {
                tableData: [],
                headStyle: {
                    'background-color': '#f5f7fa ',
                    'text-align': 'center',
                },
                newIndex: 1,
                loading: false,
                enterpriseId: "",
                enterpriseName: "",
                beginDate: "",
                endDate: ""
            }
        },
        created: function () {
            var that = this;
            var param = window.jasTools.base.getParamsInUrl(location.href);
            if (param.enterpriseId) {
                this.endDate = param.endDate;
                this.beginDate = param.beginDate;
                this.enterpriseId = param.enterpriseId;
                this.requestData();

            };
        },
        methods: {
            requestData: function () {
                var that = this;
                this.loading = true;
                var url = jasTools.base.rootPath + "/jdbc/commonData/enterAssessmentRecordDetail/getList.do";
                jasTools.ajax.post(url, {
                    "beginDateTime": that.beginDate,
                    "endDatetime": that.endDate,
                    "enterpriseId": that.enterpriseId
                }, function (data) {
                    that.tableData = data.rows;
                    that.enterpriseName = that.tableData[0].enterpriseName
                    that.loading = false;
                });
            },
            arraySpanMethod: function ({ row, column, rowIndex, columnIndex }) {
                if (columnIndex <= 2) {
                    if (row.sort === 0) {
                        return {
                            rowspan: row.secondNum,
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
            },

        }
    });
</script>

</html>